<!-- ========= PRESENTATION ========= -->
%header#header-services
  .jumbotron.services-image
    .container
      .row
        .col-sm-12.padding-top
          %h2
            "The only advice I can give that I guarantee is true is that you'll never succeed
            unless you try. Just please start. You don't need anyone's permission - certanly
            not mine."
          %p.text-right Alexis Ohanian.

<!--============= ALL SERVICES =============-->
%section.intense-gray-bg.padding-top-bottom
  .container
    - @services.each do |service|
      .row.gray-bg.row-btm20
        .col-md-3.nopadding-left.nopadding-right
          = image_tag service.images.active.first.url, class: 'img img-responsive', alt: ''
        - if user_signed_in? and service.user_id == current_user.try(:id)
          .col-md-8
            %h2= link_to service.title, service_path(service)
            %p= service.description
          #management-buttons-right.col-md-1
            = link_to edit_service_path(service), class: 'btn btn-success' do
              %span.glyphicon.glyphicon-pencil
            = link_to service, method: :delete, class: 'btn btn-danger' do
              %span.glyphicon.glyphicon-trash
        - else
          .col-md-9
            %h2= link_to service.title, service_path(service)
            %p= service.description
