<!--============= SERVICE =============-->
%section#service
  .container
    .row.gray-bg.row-btm0.padding-top-bottom
      .col-md-6.col-md-offset-3
        = image_tag @service.images.active.first.url, class: 'img img-responsive', alt: ''
      - if user_signed_in? and @service.user_id == current_user.try(:id)
        #management-buttons-left.col-md-3
          = link_to edit_service_path(@service), class: 'btn btn-success' do
            %span.glyphicon.glyphicon-pencil
          = link_to @service, method: :delete, class: 'btn btn-danger' do
            %span.glyphicon.glyphicon-trash
      .col-md-10.col-md-offset-1
        %h1= @service.title
        %h3= @service.description
        %p= @service.content
