.col-md-12
  %table.table.table-condensed.image-fixed
    %tr
      %td Title
      %td Description
      %td Hidden
      %td Image
    - services.each do |service|
      %tr{class: "#{service.active ? 'danger' : 'success'}"}
        %td= service.title
        %td= service.description
        %td= "#{service.active ? 'YES' : 'NO'}"
        %td
          = image_tag service.images.active.first.url, class: 'image-responsive', alt: ''
