.col-md-12
  %table.table.table-condensed.image-fixed
    %tr
      %td Username
      %td Email
      %td Content
      %td Image
    - comments.each do |comment|
      %tr{class: "#{comment.user.admin ? "info" : "success"}"}
        %td= comment.user.username
        %td= comment.user.email
        %td= comment.content
        %td
          %img.image-responsive{ src: "#{comment.user.images.active.first.url}", alt: "" }
