.col-md-12
  %table.table.table-condensed.image-fixed
    %tr
      %td Client
      %td Date
      %td Title
      %td Description
      %td Hidden
      %td Image
    - works.each do |work|
      %tr{class: "#{work.hidden ? 'danger' : 'success'}"}
        %td= work.client
        %td= work.date_project.strftime("%F")
        %td= work.title
        %td= work.description
        %td= "#{work.hidden ? 'YES' : 'NO'}"
        %td
          %img.image-responsive{ src: "#{work.image_url}", alt: "" }
