= render "shared/header"

<!-- ========= MANAGEMENT CONSOLE ========= -->
<!-- TITLE -->
%section#management_title.container.padding-top
  .row
    .col-md-8.col-md-offset-2
      %h1.text-center Management Console

<!-- PROFILE -->
%section#management_profile.container.padding-bottom
  .row
    .col-md-8.col-md-offset-2
      %h2.text-center Profile

<!-- USERS -->
%section#management_users.container.padding-bottom
  .row
    .col-md-8.col-md-offset-2
      %h2.text-center Users
    = render partial: "list_users", locals: {users: @users}
    .col-md-8.col-md-offset-2.text-center
      #paginate-management-users
        = paginate @users

<!-- SERVICES -->
%section#management_services.container.padding-bottom
  .row
    .col-md-8.col-md-offset-2
      %h2.text-center Services
    = render partial: "list_services", locals: {services: @services}
    .col-md-8.col-md-offset-2.text-center
      #paginate-management-services
        = paginate @services

<!-- PORTFOLIO -->
%section#management_portfolio.container.padding-bottom
  .row
    .col-md-8.col-md-offset-2
      %h2.text-center Portfolio
    = render partial: "list_works", locals: {works: @works}
    .col-md-8.col-md-offset-2.text-center
      #paginate-management-works
        = paginate @works

<!-- ARTICLES -->
%section#management_articles.container.padding-bottom
  .row
    .col-md-8.col-md-offset-2
      %h2.text-center Articles
    = render partial: "list_articles", locals: {articles: @articles}
    .col-md-8.col-md-offset-2.text-center
      #paginate-management-articles
        = paginate @articles

<!-- COMMENTS -->
%section#management_comments.container.padding-bottom
  .row
    .col-md-8.col-md-offset-2
      %h2.text-center Comments
    = render partial: "list_comments", locals: {comments: @comments}
    .col-md-8.col-md-offset-2.text-center
      #paginate-management-comments
        = paginate @comments
