<!--============= ARTICLE =============-->
%section#article
  .container
    .row.gray-bg.row-btm0.padding-show
      .col-md-6.col-md-offset-3
        = image_tag @article.images.active.first.url, class: 'img img-responsive', alt: ''
      .col-md-10.col-md-offset-1.padding-top-10
        %h1= @article.title
        %p= @article.publication_date
        %h3= @article.description
        %p= @article.content
