= render "shared/header"

<!-- ========= PORTFOLIOS IMAGE ========= -->
%header#header-portfolios
  .jumbotron.portfolios-image
    .container
      .row
        .col-sm-12.padding-top
          %h2
            "The only advice I can give that I guarantee is true is that you'll never succeed
            unless you try. Just please start. You don't need anyone's permission - certanly
            not mine."
          %p.text-right Alexis Ohanian.

<!--============= ALL MY JOBS =============-->
%section#all_portfolios.intense-gray-bg.padding-top-bottom
  .container
    - @portfolios.each_slice(2) do |batch|
      .row
        - batch.each do |portfolio|
          .col-md-6
            %img.img.img-responsive{ src: "#{portfolio.image_url}", alt: "" }
            %h1= portfolio.title
            %p= portfolio.description
            %p
              %strong Client:
              = portfolio.client
            %p
              %strong Skills:
              = portfolio.portfolio_skills.map{|skill| skill.name}.join("/ ")
            %p.text-right
              %a.no_decoration.black-button.black-to-white{ href: "#{portfolio.url_project}", target: "_blank" } Visit Project
    .row.row-btm20
      .col-md-6.col-md-offset-3.text-center
        = paginate @portfolios
