<!-- == TITLE == -->
.form-group.col-xs-12.col-md-12
  .col-md-2.col-xs-12
    = f.label :title, class: 'control-label'
  .col-md-8.col-xs-12
    = f.text_field :title, class: 'form-control', placeholder: 'Title', required: true
<!-- == DESCRIPTION == -->
.form-group.col-xs-12.col-md-12
  .col-md-2.col-xs-12
    = f.label :description, class: 'control-label'
  #max-width-textarea.col-md-8.col-xs-12
    = f.text_area :description, class: 'contact-textarea', required: true
<!-- == CONTENT == -->
.form-group.col-xs-12.col-md-12
  .col-md-2.col-xs-12
    = f.label :content, class: 'control-label'
  #max-width-textarea.col-md-8.col-xs-12
    = f.text_area :content, class: 'contact-textarea', required: true
