%header.navigation{role:"banner"}
  .navigation-wrapper
    %a.navigation-menu-button#js-mobile-menu{href:"javascript:void(0)"}MENU
    %nav{role:"navigation"}
      %ul#js-navigation-menu{:class=>"navigation-menu show"}
        %li.nav-link
          = link_to "Home", root_path
        %li.nav-link
          = link_to 'My Blog', articles_path
        - if user_signed_in?
          %li.nav-link
            \#{link_to "Sign out", destroy_user_session_path, :method => :delete}
        - else
          %li.nav-link
            = link_to "Sign up", new_user_registration_path
            or
          %li.nav-link
            = link_to "sign in", new_user_session_path
