<!-- ========= HEADER ========= -->
%nav#main-nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ "type": "button", "data-toggle": "collapse", "data-target": "#site-nav", "aria-expanded": "false", "aria-controls": "navbar" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      <!-- ======= LOGO (for small screens)========-->
      %a.navbar-brand.visible-xs{href: "#home"} NSV

    #site-nav.navbar-collapse.collapse
      %ul.nav.navbar-nav.nav-tabs
        %li
          %a{role:"presentation", href: "#{root_path}#home"} HOME
        %li
          %a{role:"presentation", href: "#{root_path}#services"} WHAT I DO
        %li
          %a{role:"presentation", href: "#{root_path}#about"} ABOUT ME
        %li
          %a{role:"presentation", href: "#{root_path}#work"} MY WORKS
        %li
          %a{role:"presentation", href: "#{root_path}#blog"} BLOG
        %li
          %a{role:"presentation", href: "#{root_path}#contact_me"} CONTACT ME


