<!-- ========= HEADER ========= -->
%nav#main-nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ 'type': 'button', 'data-toggle': 'collapse', 'data-target': '#site-nav', 'aria-expanded': 'false', 'aria-controls': 'navbar' }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      <!-- ======= LOGO (for small screens)========-->
      %a.navbar-brand.visible-xs{href: '#home'} NSV

    #site-nav.navbar-collapse.collapse
      %ul.nav.navbar-nav.nav-tabs
        - header_sections.each do |link, value|
          %li
            - if current_page?(root_path)
              = link_to value, "#{link}"
            - elsif link == '#work'
              = link_to value, portfolios_path
            - elsif link == '#blog'
              = link_to value, articles_path
            - else
              = link_to value, "#{root_path}#{link}"
