<!-- ========= MAIN NAV ========= -->
#main-nav.navbar.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{ "type": "button", "data-toggle": "collapse", "data-target": "#site-nav" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      <!-- ======= LOGO (for small screens)========-->
      %a.navbar-brand.visible-xs.scrollto{href: "#home"} NSV

    #site-nav.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li#logo
          %a.scrollto{ href: "#home"} HOME
        %li
          %a.scrollto{ href: "#services"} WHAT I DO
        %li
          %a.scrollto{ href: "#about"} ABOUT ME
        %li
          %a.scrollto{ href: "#work"} MY WORKS
        %li
          %a.scrollto{ href: "#blog"} BLOG

<!-- ========= HEADER ========= -->
%header#home.jumbotron.bg-image
  .container
    .row
      .col-sm-12.text-col.text-center
        %h1 Hi, I am Nicolas S Vidal
        %p software engineer

<!-- ========= SERVICES ========= -->
%section#services.white-bg.padding-top-bottom
  .container

    %header.section-header.text-center
      %h1.scrollimation.scale-in What I Do
      %p
        I am passionate about combining function, interaction and form
        %br/
        to design for fitting user experiences that make people happy.

    .row.services
      .col-md-3.col-sm-6.item.scrollimation.fade-up
        .icon
          %img.img-responsive.img-center{ src: "assets/service1.png", alt: "" }
        %h2 Web &amp; App Design
        %p Donec quam velit, aliquam at tempor quis, blandit quis nisi. Proin orci enim, dictum vel leo eu, blandit vulputate turpis.

      .col-md-3.col-sm-6.item.scrollimation.fade-up.d1
        .icon
          %img.img-responsive.img-center{ src: "assets/service2.png", alt: "" }
        %h2 Web Development
        %p Donec quam velit, aliquam at tempor quis, blandit quis nisi. Proin orci enim, dictum vel leo eu, blandit vulputate turpis.

      .col-md-3.col-sm-6.item.scrollimation.fade-up.d2
        .icon
          %img.img-responsive.img-center{ src: "assets/service3.png", alt: "" }
        %h2 SEO Content
        %p Donec quam velit, aliquam at tempor quis, blandit quis nisi. Proin orci enim, dictum vel leo eu, blandit vulputate turpis.

      .col-md-3.col-sm-6.item.scrollimation.fade-up.d3
        .icon
          %img.img-responsive.img-center{ src: "assets/service4.png", alt: "" }
        %h2 Mail Campaigns
        %p Donec quam velit, aliquam at tempor quis, blandit quis nisi. Proin orci enim, dictum vel leo eu, blandit vulputate turpis.

<!-- ========= ABOUT ========= -->
%section#about.dark-bg.light-typo.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1.scrollimation.scale-in About Me

    .row
      .col-sm-8.col-sm-offset-2
        %img.img-responsive.img-center.img-circle.scrollimation.fade-left{ src: "assets/about.jpg", alt:""}
        %p.text-center.scrollimation.fade-in
          I am Jonathan Doe, a twenty five year old designer from NY.
          I have graduated with a Bachelor degree of Graphic &amp;
          Web Design, from the University of Peiraias.
          I have a passion for creating challenging, intuitive and beautiful products.
          My design process is very hands-on and visual.
          %br/
          %br/
          Creating is not just a job for me, it's a passion.
    %p.text-center
      %a.btn.btn-meflat.scrollto.white.icon-left{ href: "http://www.upwork.com/fl/nisevi"}
        %i.fa.fa-desktop Hire Me

<!-- ========= PORTFOLIO ========= -->
%section#work.gray-bg.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1.scrollimation.scale-in My Works
      %p
        I've worked with many serious brands in the Design and Code industry.
        %br/
        See a collection of works I am proud of!

    #work-slide.owl-carousel
      %div
        .col-md-6.margin-btm-30
          .work-detail
            %h1 Work Title
            %p
              We believe on our work.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            %p
              We believe on our work.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            %p
              We believe on our work.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            %p
              %strong Cleant:
              Design_mylife
            %p
              %strong Skills:
              HTMl5 / CSS3 / Bootstrap3
            %p
              %a.btn.btn-dark{ href: "#" } Visit Project
        .col-md-6
          = image_tag("work-2.png", class: "img img-responsive", alt: "")
      %div
        .col-md-6.margin-btm-30
          .work-detail
            %h1 Work Title
            %p
              We believe on our work.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            %p
              We believe on our work.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            %p
              We believe on our work.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            %p
              %strong Cleant:
              Design_mylife
            %p
              %strong Skills:
              HTMl5 / CSS3 / Bootstrap3
            %p
              %a.btn.btn-dark{ href: "#" } Visit Project
        .col-md-6
          = image_tag("work-2.png", class: "img img-responsive", alt: "")
      %div
        .col-md-6.margin-btm-30
          .work-detail
            %h1 Work Title
            %p
              We believe on our work.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            %p
              We believe on our work.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            %p
              We believe on our work.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            %p
              %strong Cleant:
              Design_mylife
            %p
              %strong Skills:
              HTMl5 / CSS3 / Bootstrap3
            %p
              %a.btn.btn-dark{ href: "#" } Visit Project
        .col-md-6
          = image_tag("work-2.png", class: "img img-responsive", alt: "")

<!-- ========= BLOG ========= -->
%section#blog.white-bg.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1.scrollimation.scale-in Latest News
      %p
        I've worked with many serious brands in the Design and Code industry.
        %br/
        See a collection of works I am proud of!

    .col-sm-4.margin-btm-30.wow.animated.fadeInUp{ "data-wow-duration": "700ms", "data-wow-delay": "100ms" }
      .item-img-wrap
        = image_tag("work-2.png", class: "img-responsive", alt: "working")
        .item-img-overlay
          %a.show-image{href: "assets/work-2.png"}
            %span
      .blog-desc
        %h3
          %a{ href: "#" } Blog post title
        %span 27 August 2014
        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        %p.text-right
          %a.btn.btn-dark.btn-xs{ href: "#" } Read More
    .col-sm-4.margin-btm-30.wow.animated.fadeInUp{ "data-wow-duration": "700ms", "data-wow-delay": "100ms" }
      .item-img-wrap
        = image_tag("work-2.png", class: "img-responsive", alt: "working")
        .item-img-overlay
          %a.show-image{href: "assets/work-2.png"}
            %span
      .blog-desc
        %h3
          %a{ href: "#" } Blog post title
        %span 27 August 2014
        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        %p.text-right
          %a.btn.btn-dark.btn-xs{ href: "#" } Read More
    .col-sm-4.margin-btm-30.wow.animated.fadeInUp{ "data-wow-duration": "700ms", "data-wow-delay": "100ms" }
      .item-img-wrap
        = image_tag("work-2.png", class: "img-responsive", alt: "working")
        .item-img-overlay
          %a.show-image{href: "assets/work-2.png"}
            %span
      .blog-desc
        %h3
          %a{ href: "#" } Blog post title
        %span 27 August 2014
        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        %p.text-right
          %a.btn.btn-dark.btn-xs{ href: "#" } Read More

<!-- ========= SCROLL TO TOP ========= -->
%a.scrollToTop{ href: "#" }
  %i.fa.fa-angle-up
