<!-- ========= HEADER ========= -->
%nav#main-nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ "type": "button", "data-toggle": "collapse", "data-target": "#site-nav", "aria-expanded": "false", "aria-controls": "navbar" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      <!-- ======= LOGO (for small screens)========-->
      %a.navbar-brand.visible-xs{href: "#home"} NSV

    #site-nav.navbar-collapse.collapse
      %ul.nav.navbar-nav.nav-tabs
        %li
          %a{role:"presentation", href: "#home"} HOME
        %li
          %a{role:"presentation", href: "#services"} WHAT I DO
        %li
          %a{role:"presentation", href: "#about"} ABOUT ME
        %li
          %a{role:"presentation", href: "#work"} MY WORKS
        %li
          %a{role:"presentation", href: "#blog"} BLOG
        %li
          %a{role:"presentation", href: "#contact_me"} CONTACT ME

<!-- ========= PRESENTATION ========= -->
%header#home.jumbotron.bg-image.vertical-center
  .container
    .row
      .col-sm-12.text-col.text-center
        %h1= "Hi, I am #{@admin_user.first_name} #{@admin_user.last_name}"
        %p software engineer

<!-- ========= SERVICES ========= -->
%section#services.white-bg.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1.scrollimation.scale-in What I Do
      %p
        I am passionate about providing simple solutions combining
        function, interaction and form
        %br/
        to design for fitting user experiences that make people happy.
    .row.services
      - @services.each do |service|
        - cache service do
          .col-md-3.col-sm-6.col-xs-12.item
            .icon
              %img.img-responsive.img-center{ src: "#{service.images.find_by_header(true).url}", alt: "" }
            %h2= service.title
            %p= service.description

<!-- ========= ABOUT ========= -->
%section#about.dark-bg.light-typo.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1 About Me
    .row
      .col-sm-8.col-sm-offset-2
        %img.img-responsive.img-center.img-circle{ src: "#{@admin_user.image}", alt:""}
        %p.text-center= @admin_user.presentation
    %p.text-center
      %a.black-button.white-to-black{ href: "#{@admin_user.links.find_by_name("freelance")}", target: "_blank"}
        %i.fa.fa-desktop &nbsp;&nbsp; Hire Me

<!-- ========= PORTFOLIO ========= -->
%section#work.gray-bg.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1 My Works
      %p
        I've been working on several projects .
        %br/
        See a collection of works I am proud of!

    #work-carousel.carousel.slide{ "data-ride": "carousel" }
      .carousel-inner{ role: "listbox" }
        - @works.each do |work|
          - cache work do
            %div{class: "#{@works[0] == work ? 'item active' : 'item'}"}
              .col-md-6.margin-btm-30
                %h1= work.title
                %p= work.description
                %p
                  %strong Client:
                  = work.client
                %p
                  %strong Skills:
                  = work.portfolio_skills.map{|skill| skill.name}.join("/ ")
                %p
                  %a.no_decoration.black-button.black-to-white{ href: "#{work.url_project}", target: "_blank" } Visit Project
              .col-md-6
                %img.img.img-responsive{ src: "#{work.images.find_by_header(true).url}", alt: "" }
      %ol.carousel-indicators
        - @works.each_index do |i|
          %li{class: "#{i == 0 and "active" or ""}", "data-target": "#work-carousel", "data-slide-to": "#{i}" }

%section#all-works.dark-bg
  .container
    .row
      .col-md-8.col-md-offset-2.text-center
        %p.text-center
          %a.black-button.white-to-black{href: articles_path}
            %i.fa.fa-rocket &nbsp;&nbsp; All my jobs

<!-- ========= BLOG ========= -->
%section#blog.white-bg.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1 Latest News
      %p
        I have worked with many serious brands in the Design and Code industry.
        %br/
        See a collection of works I am proud of!
    - @articles.each do |article|
      - cache article do
        - url_image = article.images.find_by_header(true).url
        .col-sm-4.margin-btm-30
          .item-img-wrap
            = image_tag("#{url_image}", class: "img-responsive", alt: "working")
            .item-img-overlay
              %a.show-image{href: "#{url_image}"}
                %span
          .blog-desc
            %h3
              %a{ href: "#{article_path(article)}" }= article.title
            %span= article.date_article.strftime("%F")
            %p= "#{article.text[0..70]}..."
            %p.text-right
              %a.no_decoration.black-button.black-to-white{ href: "#{article_path(article)}" } Read More

%section#all-articles.dark-bg
  .container
    .row
      .col-md-8.col-md-offset-2.text-center
        %p.text-center
          %a.black-button.white-to-black{href: articles_path}
            %i.fa.fa-coffee &nbsp;&nbsp; All my articles

<!-- ========= CONTACT ========= -->
%section#contact_me.gray-bg.padding-top-bottom
  .container
    .row
      .col-md-8-.col-md-offset-2
        %header.section-header.text-center
          %h1 Drop Me a Line
          %p
            I am available for freelance.
            %br/
            Can not wait for the next exciting project! Could be yours?
        = form_for @contact, url: welcome_index_path(@contact), as: :contact, remote: true, html: {class: "contact-submit"} do |f|
          .form-group.col-xs-12.col-md-12
            = f.label :name, class: "col-xs-12 col-sm-2 control-label"
            .col-sm-8.col-xs-12
              = f.text_field :name, class: "form-control", placeholder: "Name"
          .form-group.col-xs-12.col-md-12
            = f.label :email, class: "col-sm-2 control-label"
            .col-sm-8.col-xs-12
              = f.email_field :email, class: "form-control", placeholder: "Email"
          .form-group.col-xs-12.col-md-12
            = f.label :message, class: "col-sm-2 control-label"
            .col-sm-8.col-xs-12
              = f.text_area :message, class: "contact-textarea"
              = f.submit "Send Message", class: "black-button black-to-white", style:"float: right;"
