<!-- ========= MAIN NAV ========= -->
#main-nav.navbar.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{ "type": "button", "data-toggle": "collapse", "data-target": "#site-nav" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      <!-- ======= LOGO (for small screens)========-->
      %a.navbar-brand.visible-xs.scrollto{href: "#home"} NSV

    #site-nav.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a.scrollto{ href: "#home"} HOME
        %li
          %a.scrollto{ href: "#services"} WHAT I DO
        %li
          %a.scrollto{ href: "#about"} ABOUT ME
        %li
          %a.scrollto{ href: "#work"} MY WORKS
        %li
          %a.scrollto{ href: "#blog"} BLOG
        %li
          %a.scrollto{ href: "#contact_me"} CONTACT ME

<!-- ========= HEADER ========= -->
%header#home.jumbotron.bg-image
  .container
    .row
      .col-sm-12.text-col.text-center
        %h1 Hi, I am "#{@admin_user.first_name} #{@admin_user.last_name}"
        %p software engineer

<!-- ========= SERVICES ========= -->
%section#services.white-bg.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1.scrollimation.scale-in What I Do
      %p
        I am passionate about providing simple solutions combining
        function, interaction and form
        %br/
        to design for fitting user experiences that make people happy.
    .row.services
      - @services.each do |service|
        .col-md-3.col-sm-6.item
          .icon
            %img.img-responsive.img-center{ src: "#{service.images.find_by_header(true).url}", alt: "" }
          %h2= service.title
          %p= service.description

<!-- ========= ABOUT ========= -->
%section#about.dark-bg.light-typo.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1 About Me
    .row
      .col-sm-8.col-sm-offset-2
        %img.img-responsive.img-center.img-circle{ src: "#{@admin_user.image}", alt:""}
        %p.text-center= @admin_user.presentation
    %p.text-center
      %a.btn.btn-meflat.white.icon-left{ href: "#{@admin_user.links.find_by_name("freelance")}", target: "_blank"}
        %i.fa.fa-desktop Hire Me

<!-- ========= PORTFOLIO ========= -->
%section#work.gray-bg.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1 My Works
      %p
        I've been working on several projects .
        %br/
        See a collection of works I am proud of!

    #work-slide.owl-carousel
      - @works.each do |work|
        %div
          .col-md-6.margin-btm-30
            .work-detail
              %h1= work.title
              %p= work.description
              %p
                %strong Client:
                = work.client
              %p
                %strong Skills:
                = work.portfolio_skills.map{|skill| skill.name}.join("/ ")
              %p
                %a.btn.btn-dark{ href: "#{work.url_project}", target: "_blank"} Visit Project
          .col-md-6
            %img.img.img-responsive{ src: "#{work.images.find_by_header(true).url}", alt: "" }

<!-- ========= BLOG ========= -->
%section#blog.white-bg.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1 Latest News
      %p
        I have worked with many serious brands in the Design and Code industry.
        %br/
        See a collection of works I am proud of!
    - @articles.each do |article|
      - url_image = article.images.find_by_header(true).url
      .col-sm-4.margin-btm-30
        .item-img-wrap
          = image_tag("#{url_image}", class: "img-responsive", alt: "working")
          .item-img-overlay
            %a.show-image{href: "#{url_image}"}
              %span
        .blog-desc
          %h3
            %a{ href: "#{article_path}" }= article.title
          %span= article.date_article.strftime("%F")
          %p
            article.description
          %p.text-right
            %a.btn.btn-dark.btn-xs{ href: "#{article_path}" } Read More

<!-- ========= CONTACT ========= -->
%section#contact_me.gray-bg.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1 Drop Me a Line
      %p
        I am available for freelance.
        %br/
        Can not wait for the next exciting project! Could be yours?
    = form_for @contact, url: welcome_index_path(@contact), as: :contact, remote: true, html: {class: "contact-submit"} do |f|
      = f.label :name
      = f.text_field :name
      = f.label :email
      = f.email_field :email
      = f.label :message
      = f.text_area :message, size: "60x12"
      = f.submit "Send Message"

<!-- ========= FOOTER ========= -->
%footer#main-footer.dark-bg.light-typo
  .container
    .row
      .col-sm-12.text-center
        .footer-col
          %ul.social-links
            - @social_links.each do |link|
              %li
                %a{ href: "#{link.url}",  target: "_blank"}>
                  %i{class: "fa fa-#{link.name} fa-fw"}
