#user_nav
  - if user_signed_in?
    Signed in as #{current_user.email}. Not you?
    \#{link_to "Sign out", destroy_user_session_path, :method => :delete}
  - else
    = link_to "Sign up", new_user_registration_path
    or
    = link_to "sign in", new_user_session_path
    |
    = link_to "Sign in with Github", user_github_omniauth_authorize_path
%h1 Hello, Rails!
= link_to 'My Blog', controller: 'articles'
