#devise_new_session.container
  .row
    .col-md-8.col-md-offset-2
      %h1.text-center Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            = f.label :email, class: "col-xs-12 col-sm-3 control-label"
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.row-btm20
            = f.email_field :email, autofocus: true, autocomplete: "off", required: true,  class: "form-control input-lg", placeholder: "Email"
        .form-group
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            = f.label :password, class: "control-label"
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.row-btm20
            = f.password_field :password, autocomplete: "off", class: "form-control input-lg", required: true
        .form-group
          - if devise_mapping.rememberable?
            .col-xs-12.col-md-12
              = f.check_box :remember_me
              = f.label :remember_me
          .col-xs-12.col-md-12.text-left.row-btm20
            = f.submit "Log in", class: "btn btn-lg btn-primary btn-block"
  .row
    .col-md-8.col-md-offset-2
      = render "shared/links"
