!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %title nisevi
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', media: 'all'
    = csrf_meta_tags
  %body{'data-spy': 'scroll', 'data-target': '#site-nav'}
    = render 'shared/header'
    - flash.each do |key, value|
      %p{id: key}= value
    = yield
    = render 'shared/footer'
